<div class="container">
    <div class="col-12 mt-5">
        <div class="row">
            <div class="col-4 mt-5 text-banner">
                <h1 >Finances</h1>
                <p class="mt-3">Site que consome uma API de Cotações do Dólar (USD, USDT, CA, AUD), Euro, Libra, Peso, Iene, Franco, Yuan Chinês, Shekel Israelense, Litecoin, Bitcoin, Ethereum, Ripple, atualizado a cada 3 minutos.</p>
                <button type="button" class="btn btn-lg mt-5">Saiba mais <i class="fas fa-angle-right"></i> </button>
            </div>
            <div class="col-7">
                <img class="banner" src="../assets/img/banner.svg" alt="">
            </div>
        </div>
    </div>
</div>