@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');
.text-banner h1{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 5em;
    font-weight: bold;
}

.text-banner p{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 100;

}

.text-banner button{
    background: #FBD56F;
    border-radius: 50px;
    font-family: 'IBM Plex Mono', monospace;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}
.banner{
    width: 100%;
}
